# Define the number of worker processes
worker_processes 1;

events {
    # Set the maximum number of simultaneous connections that can be opened by a worker process
    worker_connections 1024;
}

http {
    # Include MIME types definitions
    include mime.types;

    upstream nodejs_cluster {
        # Define load balancing method and backend servers
        least_conn;
        server 127.0.0.1:3001;
        server 127.0.0.1:3002;
        server 127.0.0.1:3003;
    }

    server {
        # Listen on port 443 with SSL
        listen 443 ssl;
        # Define server name
        server_name localhost;

        # SSL certificate and key
        ssl_certificate /home/parthtiwari/nginx-certs/nginx-selfsigned.crt;
        ssl_certificate_key /home/parthtiwari/nginx-certs/nginx-selfsigned.key;

        location / {
            # Proxy pass to the upstream nodejs_cluster
            proxy_pass http://nodejs_cluster;
            # Set headers for the proxied request
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;		
        }
    }

    server {
        # Listen on port 80
        listen 80;
        # Define server name
        server_name localhost;

        location / {
            # Redirect all HTTP requests to HTTPS
            return 301 https://$host$request_uri;
        }
    }
}